@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@800&family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Young+Serif&display=swap");

:root {
  //calculator dimensions
  --calculator-height: 500px;
  --calculator-width: 500px;
  --calculator-hd-height: 50px;
  --calculator-gap: 30px;
  --var-theme-fs: 10px;
  --numbers-fs: 32px;
  //screen
  --screen-b-radius: 10px;
  --screen-height: 60px;
}

.theme-1 {
  //Backgrounds
  --background-color-main: hsl(222, 26%, 31%);
  --background-color-secondary: hsl(223, 31%, 20%);
  --background-color-screen: hsl(224, 36%, 15%);
  //keys
  --key-toggle-bg-1: hsl(225, 21%, 49%);
  --key-shadow-1: hsl(224, 28%, 35%);

  --key-toggle-bg-2: hsl(6, 63%, 50%);
  --key-shadow-2: hsl(6, 70%, 34%);

  --key-toggle-bg-3: hsl(30, 25%, 89%);
  --key-shadow-4: hsl(28, 16%, 65%);

  //text
  --main-text-color: hsl(221, 14%, 31%);
  --secondary-text-color: hsl(0, 0%, 100%);
  --third-text-color: var(--secondary-text-color);
  --header-text-color: var(--secondary-text-color);
}

.theme-2 {
  // :root {
  //Backgrounds
  --background-color-main: hsl(0, 0%, 90%);
  --background-color-secondary: hsl(0, 5%, 81%);
  --background-color-screen: hsl(0, 0%, 93%);
  //keys
  --key-toggle-bg-1: hsl(185, 42%, 37%);
  --key-shadow-1: hsl(185, 58%, 25%);

  --key-toggle-bg-2: hsl(25, 98%, 40%);
  --key-shadow-2: hsl(25, 99%, 27%);

  --key-toggle-bg-3: hsl(45, 7%, 89%);
  --key-shadow-4: hsl(35, 11%, 61%);

  //text
  --main-text-color: hsl(60, 10%, 19%);
  --secondary-text-color: hsl(0, 0%, 100%);
  --third-text-color: var(--secondary-text-color);
  --header-text-color: hsl(60, 10%, 19%);
  // }
}

.theme-3 {
  // :root {
  //Backgrounds
  --background-color-main: hsl(268, 75%, 9%);
  --background-color-secondary: hsl(268, 71%, 12%);
  --background-color-screen: hsl(268, 71%, 12%);
  //keys
  --key-toggle-bg-1: hsl(281, 89%, 26%);
  --key-shadow-1: hsl(285, 91%, 52%);

  --key-toggle-bg-2: hsl(176, 100%, 44%);
  --key-shadow-2: hsl(177, 92%, 70%);

  --key-toggle-bg-3: hsl(268, 47%, 21%);
  --key-shadow-4: hsl(290, 70%, 36%);

  //text
  --main-text-color: hsl(52, 100%, 62%);
  --secondary-text-color: hsl(198, 20%, 13%);
  --third-text-color: hsl(0, 0%, 100%);
  --header-text-color: hsl(52, 100%, 62%);
  // }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", serif;
  font-weight: 800;
}

@mixin display-center() {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  @include display-center();
  background-color: var(--background-color-main);

  &__calculator {
    height: var(--calculator-height);
    width: var(--calculator-width);
    display: flex;
    gap: var(--calculator-gap);
    flex-direction: column;

    // border: solid 1px black; // for debuging
    &-header {
      display: flex;
      justify-content: space-between;
      height: var(--calculator-hd-height);
      align-items: center;
      // border: solid 1px black; // for debuging
      color: var(--header-text-color);
      &-color-theme::before {
        content: "THEME";
        display: inline-block;
        margin-right: 15px;
        font-size: var(--var-theme-fs);
      }
    }
    &-screen {
      height: var(--screen-height);
      background-color: var(--background-color-screen);
      border-radius: var(--screen-b-radius);
      text-align: end;
      font-size: var(--numbers-fs);
      align-content: center;
      color: var(--main-text-color);
      overflow: hidden;
    }
    &-numbers-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 70%;
      flex-wrap: wrap;
      padding: 10px;
      background-color: var(--background-color-secondary);
      border-radius: 10px;
      font-size: var(--numbers-fs);

      gap: 10px;
      div {
        cursor: pointer;
      }

      > div:not(:last-child) {
        width: calc(var(--calculator-width) / 5);
        height: var(--calculator-hd-height);
        align-content: center;
        text-align: center;
        border-radius: 10px;
        background-color: var(--key-toggle-bg-3);
        border-bottom: solid 3px var(--key-shadow-4);
        color: var(--main-text-color);
      }
      div:last-child {
        :last-child {
          color: var(--secondary-text-color);
        }
        :first-child {
          color: var(--third-text-color);
        }
      }
    }
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  div {
    width: calc((var(--calculator-width) / 2) - 2*20px);
    height: var(--calculator-hd-height);
    border-radius: 10px;
    align-content: center;
    text-align: center;
  }
  .reset {
    background-color: var(--key-toggle-bg-1);
    border-bottom: solid 3px var(--key-shadow-1);
  }
  .equals {
    background-color: var(--key-toggle-bg-2);
    border-bottom: solid 3px var(--key-shadow-2);
  }
}

$fsize-label: 20px;

input[type="radio"]{
  display: none;
}

.theme-label{
  position: relative;
  display: inline-block;
  font-size: $fsize-label;
  cursor: pointer;
  width: 10px;
  height: 10px;
}

input[type="radio"]:checked + .theme-label:before{
  content: "";
  position: absolute;
  background-color: rgb(236, 4, 4);
  display: block;
  width: $fsize-label/2;
  height: $fsize-label/2;
  border-radius: 50%;
  top: $fsize-label;
  left: 0px;
}
